* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    overflow: hidden;
}

#cursor {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition:
        width 0.2s ease,
        height 0.2s ease;
}

#cursor.active {
    width: 60px;
    height: 60px;
}
