* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
    width: 100%;
}

.page-1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12% 20% 54% 24%;
}

#child1 {
    background-color: darkblue;
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 3;
}
#child2 {
    background-color: darkmagenta;
    border: 2px solid white;
}
#child3 {
    background-color: darkorange;
    border: 2px solid white;
}
#child4 {
    background-color: darkred;
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 3;
}
#child5 {
    background-color: darkcyan;
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 3;
}

.page-2 {
    height: 100%;
    width: 100%;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr;
}

#p2-child1 {
    background-color: lightpink;
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 5;
}
#p2-child2 {
    background-color: lightcoral;
    border: 2px solid black;
}
#p2-child3 {
    background-color: lightblue;
    border: 2px solid black;
}
#p2-child4 {
    background-color: lightgreen;
    border: 2px solid black;
}
#p2-child5 {
    background-color: brown;
    border: 2px solid black;
}

.page-3 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

#p3-child1 {
    background-color: darkkhaki;
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
}
#p3-child2 {
    background-color: lightseagreen;
    border: 2px solid black;
    grid-row-start: 2;
    grid-row-end: 4;
}
#p3-child3 {
    background-color: tan;
    border: 2px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
}
#p3-child4 {
    background-color: lightsteelblue;
    border: 2px solid black;
}
#p3-child5 {
    background-color: magenta;
    border: 2px solid black;
}

.page-4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 100px 2fr 1fr;
    grid-template-areas:
        "nav nav nav"
        "center-right center-right center-left"
        "bottom-left1 bottom-left2 center-left";
}

#nav {
    background-color: darkred;
    border: 2px solid black;
    grid-area: nav;
}
#center-left {
    background-color: lightgreen;
    border: 2px solid black;
    grid-area: center-left;
}
#center-right {
    background-color: purple;
    border: 2px solid black;
    grid-area: center-right;
}
#bottom-left1 {
    background-color: lightcoral;
    border: 2px solid black;
    grid-area: bottom-left1;
}
#bottom-left2 {
    background-color: pink;
    border: 2px solid black;
    grid-area: bottom-left2;
}

.page-5 {
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 45% 25% 1fr;
    grid-template-rows: 100px 150px 80px 1fr 1fr;
    padding: 5px;
    gap: 10px;
    grid-template-areas:
        "nav nav nav"
        "cto cto cto"
        "cto-btn pic-2 pic-4"
        "pic-1 pic-2 pic-4"
        "pic-1 pic-3 pic-4";
}

#nav {
    background-color: teal;
    border: 2px solid black;
    grid-area: nav;
}

#cto {
    background-color: magenta;
    border: 2px solid black;
    grid-area: cto;
}

#cto-btn {
    background-color: orange;
    border: 2px solid black;
    grid-area: cto-btn;
}

#pic-1 {
    background-color: darkgreen;
    border: 2px solid black;
    grid-area: pic-1;
}

#pic-2 {
    background-color: darkkhaki;
    border: 2px solid black;
    grid-area: pic-2;
}

#pic-3 {
    background-color: darkorchid;
    border: 2px solid black;
    grid-area: pic-3;
}

#pic-4 {
    background-color: darkgoldenrod;
    border: 2px solid black;
    grid-area: pic-4;
}
