* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

main {
    width: 100%;
    height: 100%;
    padding-inline: 2rem;
}

nav {
    padding-inline: 2rem;
    height: 100px;
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    backdrop-filter: blur(12px);
    z-index: 999;
}

#nav-logo {
    width: 80px;
    height: 80px;
}

#nav-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nav-links {
    display: flex;
    gap: 3rem;
}

#nav-links h3 {
    font-size: 1.5rem;
    cursor: pointer;
}

#nav-links h3:hover {
    color: lightslategray;
}

#nav-btn button {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}
#nav-btn button:first-child {
    margin-right: 1.2rem;
}

section {
    min-height: 130vh;
    padding-top: 120px;
}

#page-1 {
    background-color: white;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.p1 h1 {
    height: 100%;
    border: 1px solid black;
}
/* .p1 h1:hover { */
/*     scale: 1.2; */
/* } */
.cards {
    height: 45vh;
    width: 22vw;
    background-color: lightgrey;
    border-radius: 15px;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    width: 300px;
    height: 250px;
    background-color: maroon;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.txt {
    text-align: center;
}
.cards h3 {
    font-size: 2.2rem;
    font-weight: 600;
}
.cards h5 {
    font-size: 1.2rem;
    margin: 0.2rem 0 1rem 0;
}

.cards button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    background-color: maroon;
    color: white;
}

@media (max-width: 700px) {
    #page-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .cards {
        height: 35vh;
        width: 74vw;
        background-color: lightgrey;
        gap: 0.4rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 70%;
        height: 50%;
        background-color: maroon;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    .txt {
        text-align: center;
    }
    .cards h3 {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .cards h5 {
        font-size: 1.2rem;
        margin: 0.2rem 0 0.4rem 0;
    }
    .cards button {
        padding: 0.5rem 0.8rem;
    }

    #nav-btn {
        display: none;
    }

    #nav-links {
        display: flex;
        gap: 1.2rem;
    }

    #nav-links h3 {
        font-size: 1rem;
    }

    #nav-logo {
        width: 50px;
        height: 50px;
    }
}
