* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#light {
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 30px;
    background-color: grey;
    color: white;
}
.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}
