*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%; /* 16px */
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: var(--fs-base);
    padding-inline: var(--space-6);
}

:root {
    --fs-xs: 0.75rem;
    --fs-sm: 0.85rem;
    --fs-base: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.563rem;
    --fs-xl: 1.953rem;
    --fs-2xl: 2.441rem;
    --fs-3xl: clamp(4rem, 5vw, 5.052rem);

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.5rem;
    --space-6: 2rem;
    --space-7: 2.5rem;
    --space-8: 3rem;
    --space-9: 5rem;

    --container-width: 1200px;
    --container-padding: 1rem;

    --primary-color: #f6f4fc;
    --secondary-color: #e1e1e1;
    --accent-color: #010101;
}

nav {
    height: 100px;
    /* background-color: maroon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-8);
}

.nav-logo-container {
    padding-right: var(--space-9);
    /* background-color: cyan; */
}

.nav-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url(./assets/idea1.webp);
    background-position: center;
    background-size: cover;
}
.nav-links {
    display: flex;
    /* gap: var(--space-7); */
    gap: 5vw;
    white-space: nowrap;
}

.link {
    text-decoration: none;
    color: var(--accent-color);
    font-size: var(--fs-lg);
}
.btn {
    display: inline-block;
    padding-block: var(--space-4);
    padding-inline: var(--space-6);
    border-radius: 10px;
    font-size: var(--fs-md);
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.nav-btn .btn:first-child {
    margin-right: 1rem;
}
.nav-btn .btn:nth-child(2) {
    background-color: var(--accent-color);
    color: white;
}

.menu-btn {
    display: none;
    padding-block: var(--space-4);
}

.menu-btn i {
    font-size: var(--fs-xl);
    font-weight: 600;
    color: var(--accent-color);
    cursor: pointer;
}

/*-----------------------------------------------------------------
* |                     Hero Section                                 |
* -----------------------------------------------------------------*/
#main-hero {
    min-height: calc(100vh - 100px);
    /* background-color: lightblue; */
}
#hero {
    font-size: var(--fs-xl);
    padding-inline: var(--space-8);
    display: flex;
    gap: 4%;
}
.hero-left-box {
    width: 52%;
    height: 500px;
    margin-top: var(--space-9);
    /* background-color: maroon; */
    padding-block: var(--space-5);
}
.hero-left-box h1 {
    line-height: 1;
    margin-top: var(--space-9);
}
.hero-left-box p {
    width: 85%;
    font-size: var(--fs-lg);
    margin-top: 0.75rem;
}
.hero-left-btn button {
    padding-block: 1.2rem;
    padding-inline: 2.1rem;
    font-size: var(--fs-md);
    margin-top: 2.2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.hero-left-box button:first-child {
    background-color: var(--accent-color);
    color: white;
    font-size: var(--fs-md);
    margin-right: var(--space-3);
}

.hero-right-box {
    width: 44%;
    height: 680px;
    margin-top: var(--space-8);
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hr-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.float-box1 {
    padding-block: var(--space-5);
    padding-inline: var(--space-5);
    background-color: white;
    border-radius: 10px;
    white-space: nowrap;
    position: absolute;
    top: 24%;
    right: 10%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
.float-box1 p {
    font-size: var(--fs-md);
}

.float-box2 {
    background-color: white;
    border-radius: 10px;
    padding-block: var(--space-5);
    padding-inline: var(--space-5);
    display: flex;
    gap: 0.8rem;
    white-space: nowrap;
    position: absolute;
    top: 76%;
    right: 55%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.fb-box1 p {
    font-size: var(--fs-md);
}
.fb-box2 p {
    font-size: var(--fs-md);
}

.hero-brand-logo {
    width: 100%;
    height: 110px;
    overflow-x: hidden;
    padding: 20px 130px 0 130px;
}

.tracker {
    display: flex;
    gap: 130px;
    width: max-content;
    animation: slide 25s linear infinite;
    animation-delay: 1s;
}

.brand-img {
    height: 50px;
    margin-top: 20px;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

/*-----------------------------------------------------------------
* |                     Service Section                                 |
* -----------------------------------------------------------------*/

#services {
    min-height: 66vh;
    display: flex;
    padding-block: var(--space-7);
    gap: 2%;
}

.srv-left-box {
    width: 49%;
    height: 550px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding-block: var(--space-9);
    padding-inline: 9rem;
}
.creditCard {
    height: 32vh;
    padding-block: var(--space-5);
    padding-inline: var(--space-6);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header i {
    font-size: var(--fs-2xl);
}

.below-cc p {
    font-size: var(--fs-lg);
    padding-top: var(--space-7);
    padding-bottom: var(--space-4);
    text-align: center;
}

.creditCard-logo {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.below-logo {
    background-color: white;
    padding-block: var(--space-4);
    padding-inline: var(--space-4);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6);
}
.below-logo i {
    font-size: var(--fs-lg);
}

.srv-right-box {
    width: 49%;
    height: 550px;
    /* background-color: salmon; */
}
.srv-right-box h2 {
    font-size: 3.5rem;
    padding-top: var(--space-6);
    font-weight: 600;
    line-height: 1;
}

.srv-right-box p {
    font-size: var(--fs-lg);
    font-weight: 400;
    padding: 1.4rem 0 5rem 0;
}
.srv-right-txt {
    font-size: var(--fs-2xl);
    padding-block: var(--space-1);
}
.srv-right-box button {
    margin-top: var(--space-5);
    padding: 1rem;
    color: white;
    background-color: var(--accent-color);
    border-radius: 10px;
    font-size: var(--fs-md);
    font-weight: 500;
    cursor: pointer;
}

/*-----------------------------------------------------------------
* |                     Feature Section                                 |
* -----------------------------------------------------------------*/

#feature {
    min-height: 75vh;
}

#feature h3 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem 0 4rem 0;
}
.feature-cards {
    padding-inline: var(--space-9);
    display: flex;
    gap: 3vw;
}
.card {
    padding-block: var(--space-5);
    padding-inline: var(--space-5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--space-9);
}

.card p {
    font-size: var(--fs-md);
}
.card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card1 h2 {
    font-size: var(--fs-2xl);
    width: 80%;
}
.icons {
    padding: 0.6rem;
    border-radius: 20px;
    background-color: var(--secondary-color);
}
.icons i {
    font-size: var(--fs-md);
}
.c1 {
    background-color: #f8f9ff;
}
.c2 {
    background-color: #fffcf1;
}
.c3 {
    background-color: #fef2f6;
}

/*-----------------------------------------------------------------
* |                     Contact Section                                 |
* -----------------------------------------------------------------*/
#contact {
    min-height: 60vh;
    background-color: var(--secondary-color);
    padding-top: 17rem;
    position: relative;
}
.cont-card {
    width: 75vw;
    margin: auto;
    padding: 3rem;
    background-color: var(--accent-color);
    border-radius: 15px;
    color: white;
    text-align: center;
    position: absolute;
    top: -23%;
    left: 10%;
}
.cont-card h1 {
    font-size: var(--fs-2xl);
}
.cont-card p {
    padding-block: var(--space-8);
    font-size: var(--fs-lg);
}
.cont-btn button {
    padding: 1rem;
    border-radius: 10px;
    font-size: var(--fs-md);
    border: none;
    cursor: pointer;
}

.contact-infos {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.info1 {
    /* background-color: lightgreen; */
    height: 200px;
    padding: 3rem;
}
.info1 h5 {
    font-size: var(--fs-md);
    padding-bottom: var(--space-4);
}
.info1-logo {
    display: flex;
    gap: 2vw;
}
.f11-logos {
    background-color: white;
    padding: 0.8rem;
    border-radius: 25px;
}
.f11-logos i {
    font-size: var(--fs-lg);
}
.info2 {
    /* background-color: lightblue; */
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.info2 a {
    text-decoration: none;
    color: var(--accent-color);
}

.copyright {
    background-color: var(--accent-color);
    padding-block: var(--space-5);
    color: white;
    text-align: center;
}

/*-----------------------------------------------------------------
* |                     Footer Section                                 |
* -----------------------------------------------------------------*/

/*-----------------------------------------------------------------
* |                     media query                                 |
* -----------------------------------------------------------------*/

/* Mobile View*/
@media (max-width: 767px) {
    /*------ nav ------- */
    nav {
        height: 80px;
        padding-inline: var(--space-1);
    }
    .nav-logo-container {
        padding-right: var(--space-1);
    }
    .nav-links {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .menu-btn {
        display: inline-block;
    }

    /* ---------------- hero -------------- */
    #hero {
        padding-inline: var(--space-3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }
    .hero-left-box {
        width: 100%;
        height: 320px;
        margin-top: var(--space-4);
        text-align: center;
    }
    .hero-right-box {
        width: 100%;
        height: 600px;
        margin-top: var(--space-2);
    }

    .hero-left-box h1 {
        font-size: 2.2rem;
        line-height: 1.1;
        margin-top: var(--space-1);
        margin-bottom: var(--space-3);
    }
    .hero-left-box p {
        width: 100%;
        font-size: var(--fs-base);
    }
    .hero-left-btn button {
        padding-block: var(--space-3);
        padding-inline: 1.2rem;
        margin-top: 2rem;
    }
    .hl-btn {
        font-size: var(--fs-lg);
        font-weight: 500;
    }

    .float-box1 {
        top: -1%;
        right: -10%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    .float-box1 p {
        font-size: var(--fs-md);
    }

    .float-box2 {
        flex-direction: column;
        padding-block: var(--space-2);
        padding-inline: var(--space-3);
        top: 65%;
        right: 61%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .hero-brand-logo {
        height: 90px;
        padding-top: 5px;
    }

    /* services section */

    #services {
        flex-direction: column;
        padding-block: var(--space-1);
    }
    .srv-left-box {
        width: 100%;
        height: 500px;
        padding-inline: 1rem;
    }
    .creditCard {
        height: 23vh;
        padding-block: var(--space-3);
        padding-inline: var(--space-3);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header i {
        font-size: var(--fs-xl);
    }

    .below-cc p {
        font-size: var(--fs-lg);
        padding-top: var(--space-7);
        padding-bottom: var(--space-4);
        text-align: center;
    }

    .creditCard-logo {
        display: flex;
        gap: 2vw;
        align-items: center;
        justify-content: center;
    }
    .below-logo {
        background-color: white;
        padding-block: var(--space-4);
        padding-inline: var(--space-4);
        border-radius: 10px;
    }
    .below-logo i {
        font-size: var(--fs-lg);
    }

    .srv-right-box {
        width: 100%;
        height: 500px;
        /* background-color: salmon; */
    }
    .srv-right-box h2 {
        font-size: var(--fs-xl);
        padding-top: var(--space-8);
        text-align: center;
    }

    .srv-right-box p {
        font-size: var(--fs-base);
        width: 83%;
        margin: auto;
        text-align: center;
        padding: 1.2rem 0 2.2rem 0;
    }
    .srv-right-txt {
        font-size: var(--fs-lg);
        padding-block: var(--space-1);
        font-weight: 600;
    }
    .srv-right-btn {
        text-align: center;
    }

    /* feature section */

    #feature h3 {
        font-size: 2.9rem;
        padding: 3.2rem 0 3.3rem 0;
    }

    .feature-cards {
        padding-inline: var(--space-3);
        /* background-color: cyan; */
        padding-bottom: 9rem;
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .card1 h2 {
        font-size: var(--fs-lg);
        width: 85%;
    }
    .card p {
        font-size: var(--fs-base);
    }
    .icons {
        padding: 0.6rem;
    }

    /* contact section */
    #contact {
        /* min-height: 60vh; */
        padding-top: 7rem;
        position: relative;
    }
    .contact-infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .info1 h5 {
        text-align: center;
    }
    .info-logos {
        gap: 1vw;
    }
    .cont-card {
        padding: 0.9rem;
        top: -8%;
        left: 6%;
    }
    .cont-card h1 {
        font-size: var(--fs-md);
    }
    .cont-card p {
        padding-block: var(--space-5);
        font-size: var(--fs-sm);
    }
    .cont-btn button {
        padding: 0.5rem;
    }
    .info2 {
        gap: 0.8rem;
        height: 150px;
    }
    .info1-logo {
        justify-content: center;
    }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
    .nav-logo-container {
        padding-right: var(--space-2);
    }
    .nav-links {
        display: none;
    }
    .link {
        font-size: var(--fs-lg);
        white-space: nowrap;
    }
    .btn {
        display: none;
    }
    .menu-btn {
        display: inline-block;
    }

    /* ---------------- hero -------------- */
    #hero {
        padding-inline: var(--space-8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4%;
    }
    .hero-left-box {
        width: 100%;
        height: 400px;
        margin-top: var(--space-6);
        text-align: center;
    }
    .hero-right-box {
        width: 100%;
        height: 700px;
        margin-top: var(--space-6);
    }

    .hero-left-box h1 {
        font-size: var(--fs-3xl);
        line-height: 1;
        margin-top: var(--space-3);
        margin-bottom: var(--space-4);
    }
    .hero-left-box p {
        font-size: var(--fs-md);
        margin: auto;
    }
    .hero-left-btn button {
        padding-block: 1rem;
        padding-inline: 1.4rem;
        margin-top: 2.2rem;
        border-radius: 10px;
        cursor: pointer;
        border: none;
    }
    .hl-btn {
        font-size: var(--fs-sm);
        font-weight: 500;
    }

    .float-box1 {
        top: 16%;
        right: 12%;
    }

    .float-box2 {
        padding-block: var(--space-3);
        padding-inline: var(--space-4);
        top: 80%;
        right: 48%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    .hero-brand-logo {
        height: 90px;
        padding-top: 5px;
    }

    /* services section */
    #services {
        flex-direction: column;
        padding-block: var(--space-1);
    }
    .srv-left-box {
        width: 100%;
        height: 620px;
        padding-inline: 6rem;
    }
    .creditCard {
        height: 28vh;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header i {
        font-size: var(--fs-xl);
    }

    .below-cc p {
        font-size: var(--fs-lg);
        padding-top: var(--space-7);
        padding-bottom: var(--space-4);
        text-align: center;
    }

    .creditCard-logo {
        /* background-color: cyan; */
        display: flex;
        gap: 2vw;
        align-items: center;
        justify-content: center;
    }
    .below-logo {
        background-color: white;
        padding-block: var(--space-4);
        padding-inline: var(--space-4);
        border-radius: 10px;
    }
    .below-logo i {
        font-size: var(--fs-lg);
    }

    .srv-right-box {
        width: 100%;
        height: 550px;
        padding-block: var(--space-5);
        /* background-color: salmon; */
    }
    .srv-right-box h2 {
        font-size: 3rem;
        text-align: center;
    }

    .srv-right-box p {
        width: 85%;
        margin: auto;
        text-align: center;
        font-size: var(--fs-md);
        font-weight: 500;
        padding: 1.4rem 0 3rem 0;
    }
    .srv-right-txt {
        font-size: var(--fs-2xl);
        padding-block: var(--space-1);
    }
    .srv-right-box button {
        margin-top: var(--space-7);
        padding: 1.3rem;
        font-weight: 600;
    }
    .srv-right-btn {
        text-align: center;
    }

    /* feature section */

    #feature h3 {
        font-size: 3.3rem;
        padding: 2rem 0 3.3rem 0;
    }

    .feature-cards {
        padding-inline: 4.5rem;
        padding-bottom: 15rem;
        display: flex;
        flex-direction: column;
        gap: 4vw;
    }

    .card1 h2 {
        font-size: var(--fs-xl);
        width: 85%;
    }
    .icons {
        padding: 0.8rem;
    }

    /* contact section */
    #contact {
        /* min-height: 57vh; */
        padding-top: 8rem;
    }
    .cont-card {
        padding-block: var(--space-5);
        top: -14%;
        left: 9%;
    }
    .cont-card h1 {
        font-size: var(--fs-lg);
    }
    .cont-card p {
        padding-block: var(--space-5);
        font-size: var(--fs-base);
    }
    .cont-btn button {
        padding: 0.8rem;
    }

    .contact-infos {
        grid-template-columns: 1fr 1fr;
    }

    .info1 {
        grid-column-start: 1;
        grid-column-end: 3;
        align-items: center;
        justify-items: center;
    }
}

/* 720p laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
    .nav-logo-container {
        padding-right: var(--space-1);
    }
    .nav-links {
        display: inline-block;
    }
    .link {
        font-size: var(--fs-lg);
        white-space: nowrap;
    }

    .nav-links {
        display: flex;
        /* gap: var(--space-7); */
        gap: 3vw;
        white-space: nowrap;
    }
    .btn {
        padding-block: var(--space-3);
        padding-inline: var(--space-4);
        border-radius: 10px;
        font-size: var(--fs-base);
        font-weight: 600;
        border: none;
        cursor: pointer;
    }

    /* hero-section */

    #main-hero {
        min-height: calc(70vh - 100px);
    }

    .hero-left-box {
        width: 52%;
        height: 500px;
        margin-top: 8rem;
        padding-block: var(--space-5);
    }
    .hero-left-box h1 {
        font-size: 3.2rem;
        margin-top: var(--space-5);
    }
    .hero-left-box p {
        width: 90%;
        font-size: var(--fs-md);
        margin-top: 1rem;
    }
    .hero-left-btn button {
        padding-block: 1.2rem;
        padding-inline: 2.1rem;
        font-size: var(--fs-md);
        margin-top: 2.2rem;
    }
    .hero-left-box button:first-child {
        background-color: var(--accent-color);
        color: white;
        font-size: var(--fs-md);
        margin-right: var(--space-3);
    }

    .hero-right-box {
        width: 44%;
        height: 650px;
        margin-top: var(--space-7);
    }

    .float-box1 {
        top: 13%;
        right: -10%;
    }

    .float-box2 {
        padding-block: var(--space-3);
        padding-inline: var(--space-4);
        top: 75%;
        right: 35%;
    }

    .hero-brand-logo {
        height: 90px;
        padding-top: 5px;
    }

    /* services section */
    #services {
        min-height: 45vh;
        padding-block: var(--space-5);
    }

    .srv-left-box {
        height: 480px;
        padding-block: var(--space-7);
        padding-inline: 3.2rem;
    }
    .creditCard {
        height: 21vh;
        padding-block: var(--space-4);
        padding-inline: var(--space-5);
    }

    .srv-right-box {
        width: 49%;
        height: 480px;
    }

    .srv-right-box h2 {
        font-size: 2.5rem;
    }

    .srv-right-box p {
        font-size: var(--fs-base);
        font-weight: 500;
        padding: 1.4rem 0 2rem 0;
    }
    .srv-right-txt {
        font-size: var(--fs-lg);
        padding-block: var(--space-2);
    }
    .srv-right-box button {
        padding: 1.2rem;
        font-size: var(--fs-base);
        font-weight: 600;
    }

    /* feature section */
    #feature {
        min-height: 50vh;
    }
    #feature h3 {
        text-align: center;
        font-size: 2.9rem;
        padding: 2rem 0 4rem 0;
    }
    .card {
        padding-block: var(--space-3);
        padding-inline: var(--space-3);
    }
    .feature-cards {
        padding-inline: var(--space-5);
        display: flex;
        gap: 3vw;
        padding-bottom: 12rem;
    }
    .card1 h2 {
        font-size: var(--fs-lg);
    }

    /* contact section */
    #contact {
        min-height: 30vh;
        padding-top: 8rem;
    }
    .cont-card {
        padding: 1rem;
        top: -20%;
        left: 10%;
    }
    .cont-card h1 {
        font-size: var(--fs-xl);
    }
    .cont-card p {
        padding-block: var(--space-5);
        font-size: var(--fs-md);
    }
    .cont-btn button {
        font-size: var(--fs-md);
        padding: 0.8rem;
    }
    .f11-logos {
        padding: 0.4rem;
    }
    .f11-logos i {
        font-size: var(--fs-md);
    }
    .info1 {
        padding: 2.5rem 0 1.5rem 2rem;
    }
}
